.in {
  display: block !important;
}

.filter-btns {
  margin: 0 10px;
}

.filter-btns > ul {
  margin: 0 !important;
}

.filter-btns > ul > li {
  list-style: none;
  float: left;
  margin: 0 5px;
}

.filter-btns > ul > li > a {
  padding: 8px 15px;
  color: #858585;
  background-color: white;
  margin: 5px;
  font-size: 13px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.filter-btns ul > li > a:hover {
  /* background-color: #eeeeee; */
  border: 1px solid;
  cursor: pointer;
}

.filter-pop {
  width: 30vw;
  position: absolute !important;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 36px 2px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  white-space: normal !important;
  max-height: calc(100vh - 152px) !important;
  background: rgb(255, 255, 255) !important;
  /* border-width: 1px !important;
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.2) !important;
    border-image: initial !important; */
  border-radius: 4px !important;
  padding: 24px !important;
}

.filter-pop > button:hover {
  background-color: #434da1 !important;
  color: white;
}

.filter-cover {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9d1;
  z-index: 3;
}

.filter-toggle.in {
  background-color: #434da1;
  color: white;
}

.filter-toggle.in:hover {
  background-color: #3d458f;
}

.sec-nav {
  height: auto;
  padding: 20px;
  width: 100%;
  position: fixed;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.wrapper {
  margin-top: 65px;
}

.has-search .form-control {
  padding-left: 2.375rem;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  width: auto;
  transition: width 1s;
  border: none;
}

.has-search .form-control:hover,
.has-search .form-control:focus,
.has-search .form-control:active {
  width: 100%;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* -----------------------------new style---------------------- */
.navbar-brand span {
  font-size: 22px;
  color: #b70101;
}

.navbar .nav-item .nav-link {
  text-transform: uppercase;
  color: #000;
  font-family: fantasy;
  font-size: larger;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 3px solid;
}

/* sec nav bar style */
.nav-btns .btn {
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  font-size: 14px;
  white-space: nowrap;
  margin: auto 2px;
}
.nav-btns .btn:hover {
  border: 1px solid #444;
}
.nav-btns .btn:first-child {
  margin-left: 5%;
}
.nav-btns {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 0.5% 0;
    margin-top: 15.1%;
    position: fixed;
    top: 1%;
    z-index: 1000;
    background-color: white;
    overflow: hidden;
    height: 54px;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    justify-content: space-between;
    flex-direction: row;
}

 /* phones */
 @media (max-width: 575.98px)  { 
  
  
  .nav-btns .btn {
    border: 1px solid #b1b1b1;
    border-radius: 20px;
    font-size: 14px;
    white-space: nowrap;
    margin: auto 2px;
  }

  .nav-btns {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 0.5% 0;
    margin-top: 15.1%;
    position: fixed;
    top: 1%;
    z-index: 1000;
    background-color: white;
    overflow: hidden;
    height: 54px;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    justify-content: space-between;
    flex-direction: row;
    }
  
 }



/* destop sec nav bar */
@media (min-width: 1200px) {  
  .nav-btns {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 0.5% 0;
  margin-top: 4.8%;
  position: fixed;
  top: 0%;
  z-index: 1000;
  background-color: white;
  height: 50px;
  display: inline;
  }

  .nav-btns .btn {
    border: 1px solid #b1b1b1;
    border-radius: 20px;
    font-size: 14px;
  }

}

.slider ul li {
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  list-style: none;
  float: left;
  margin: 8px 8px 0;
  cursor: pointer;
  border: 1px solid #fff;
  -moz-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}




/* ipad pro sec nav */
@media (min-width: 992px) and (max-width: 1025px){ 
  .nav-btns {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 0.5% 0;
    margin-top: 6.4%;
    position: fixed;
    top: 0%;
    z-index: 1000;
    background-color: white;
    height: 50px;
    display: inline;
  }

  .nav-btns .btn {
    border: 1px solid #b1b1b1;
    border-radius: 20px;
    font-size: 14px;
  }  

  .slider ul  li {
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    list-style: none;
    float: left;
    margin: 8px 5px 0;
    cursor: pointer;
    border: 1px solid #fff;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

}

 

/* tablet style sec nav */
@media (width: 768px) { 
  .nav-btns {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 0.5% 0;
  margin-top: 13.3%;
  position: fixed;
  top: 0%;
  z-index: 1000;
  background-color: white;
  height: 50px;
  display: inline;
  }

  .nav-btns .btn {
    border: 1px solid #b1b1b1;
    border-radius: 20px;
    font-size: 14px;
  } 
}

::-webkit-scrollbar { 
  display: none; 
}
a.nav-link {
  border: 3px solid #fff;
}
.top-rated .top-rated-inner {
  margin: 1% 5%;
}
.carousel-item img {
  height: 175px;
}
body{
  height: 65465px;
  padding-top: 112px;
}
.custom{
  cursor: pointer;
}


.card-star-text{
  text-align: end;
}

.nav-btns .btn:focus {
  outline: 0;
  background-color: #f9f9f9;
  box-shadow: 0 0 0 0;
}


/* New slider */
.slider, 
.slider > div {
    /* Images default to Center Center. Maybe try 'center top'? */
    background-position: center center;
    display: block;
    width: 100%;
    height: 200px;
    /* height: 100vh; *//* If you want fullscreen */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}

.slider > div {
    position: absolute;
}

/* slider arrows style */
.slider > i {
  color: #5bbd72;
  position: absolute;
  font-size: 26px;
  margin: 20px;
  top: 35%;
  text-shadow: 0 10px 2px #223422;
  transition: .3s;
  width: 15px;
  padding: 10px 11px;
  background: #fff;
  background: rgba(255, 255, 255, .3);
  cursor: pointer;
  line-height: 0;
  box-sizing: content-box;
  border-radius: 50px;
  z-index: 4;
}

/* Slider heart style */
 .heartIconstyle {
  top: 0 !important;
  padding: 6px 12px 6px 8px  !important;
  margin-right: 21px !important;
}


.slider > i svg {
    margin-top: 3px;
}

.slider > .left {
    left: -100px;
}
.slider > .right {
    right: -100px;
}
.slider:hover > .left {
    left: 0;
}
.slider:hover > .right {
    right: 0;
}

.slider > i:hover {
    background:#fff;
    background: rgba(255, 255, 255, .8);
    transform: translateX(-2px);
}

.slider > i.right:hover {
    transform: translateX(2px);
}

.slider > i.right:active,
.slider > i.left:active {
    transform: translateY(1px);
}

.slider:hover > div {
    transform: scale(1.01);
}

.hoverZoomOff:hover > div {
    transform: scale(1);
}

.slider > ul {
    position: absolute;
    bottom: 7px;
    left: 50%;
    z-index: 4;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
}



.slider > ul > .showli {
  background-color: #7EC03D;
  -moz-animation: boing .5s forwards;
  -o-animation: boing .5s forwards;
  -webkit-animation: boing .5s forwards;
  animation: boing .5s forwards;
}

.slider > ul > li:hover {
    background-color: #7EC03D;
}



.hideDots > ul {
    display: none;
}

.showArrows > .left {
    left: 0;
}

.showArrows > .right {
    right: 0;
}

.titleBar {
    z-index: 2;
    display: inline-block;
    background: rgba(0,0,0,.5);
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    padding: 0px 0px;
    transition: .3s;
    color: #fff;
}

.titleBar * {
    transform: translate(-20px, 20px);
    transition: all 700ms cubic-bezier(0.37, 0.31, 0.2, 0.85) 200ms;
    opacity: 0;
    margin-top: -2px;
}

.titleBarTop .titleBar * {
    transform: translate(-20px, -30px);
}

.slider:hover .titleBar,
.slider:hover .titleBar * {
    transform: translate(0);
    opacity: 1;   
    text-align: center;
}

/* paraghraph validtion in card*/
.validtion-paragh{
  text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0;
    height: 1.2em;
    white-space: nowrap;
    margin-bottom: 1rem;
}



/* new indicator */
#slider {
  height: 150px;
  overflow: hidden;
  width: 100%;
}



.carousel-indicators li .showli {
  background-color: #7EC03D;
  -moz-animation: boing .5s forwards;
  -o-animation: boing .5s forwards;
  -webkit-animation: boing .5s forwards;
  animation: boing .5s forwards;
}




.carousel-indicators li {
  width: 8px;
  height: 8px;
  border:1px solid white;
  border-radius:50%;
  background:rgba(0,0,0,0);
  color:white;
  text-align:center;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 1;
}


.carousel-indicators li:hover {
  background-color: #7EC03D;
}


.carousel-indicators .active {
  background-color: #7EC03D;
  -moz-animation: boing .5s forwards;
  -o-animation: boing .5s forwards;
  -webkit-animation: boing .5s forwards;
  animation: boing .5s forwards;
}

.carousel-indicators {
  bottom: -10px;
}


@keyframes boing {
  0% {
      transform: scale(1.2);
  }
  40% {
      transform: scale(.6);
  }
  60% {
      transform: scale(1.2);
  }
  80% {
      transform: scale(.8);
  }
  100% {
      transform: scale(1);
  }
}





